.contacts {

  &__title {
    font-size: 50px;
    line-height: 70px;
  }

@media (min-width: 1200px) {
  &__title {
    margin:25px 40px;
  }

  &__block {
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    margin-bottom: 30px;
  }

  &__block-item {
    margin-right: 75px;
    margin-left: -15px;
    margin-top: 2%;
  }

  &__map {
    margin: 0 40px;
  }

  &__form {
    margin: 0 40px;
  }
  }

@media (min-width: 768px) and (max-width: 1199px)  {
  &__title {
    margin:25px 40px;
  }

  &__block {
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    margin-bottom: 30px;
  }

  &__block-item {
    width: 100%;
    margin-right: 75px;
    margin-left: -15px;
    margin-top: 2%;
  }

  &__map {
    margin: 0;
  }

  &__form {
    margin: 0 40px;
  }
  }

@media (min-width: 320px) and (max-width: 767px) {
  &__title {
    margin:25px 40px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-bottom: 30px;
  }

  &__block-item {
    width: 100%;
    margin-right: 75px;
    margin-left: -15px;
    margin-top: 2%;
  }

  &__map {
    margin: 0;
  }

  &__form {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  }
}