.main-burger {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3em;

  @media (max-width: 767px) {
    position: static;
    height: auto;
  }

  @media (min-width: 768px) {
    display: none;
  }
}