.main-nav {

  display: flex;

  &__burger {
    display: none;

  }

  &__phone-number {
    display: none;

  }

  &__list {
    display: flex;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-content: flex-end;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0 10px;
    color: $gray-dark;
    background-color: #fff;
  }

  &__item a {
    display: flex;
    align-content: flex-end;
    color: $gray-dark;
    text-transform: lowercase;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
  }

  &__item a:hover {
        display: flex;
        color: $main-color;
  }


}
