.page-header {
  //display: block;
  background-color: #fff;
  z-index: 1;


  &__inner {
    display: flex;
    justify-content: space-around;
}

  a {
    display: flex;
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    //color: $gray-dark;
    font-weight: bold;

      &:hover,
      &:focus {
        color: $main-color;
    }
  }

  * p {
    display: flex;
    color: $gray;

  }

  &__cart {
    color: $gray-dark;
    padding: 0 20px;
    text-decoration: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__open-time {
    font-size: 14px;
    line-height: 30px;

    @media (min-width: $screen-xs) and (max-height: $screen-sm) {
      display: none;
    }
  }
}
