.page-footer {
  display: block;
  background-color: #fff;


  &__inner {
    display: flex;
    justify-content: space-around;
  }

   * a {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray-dark;
    font-weight: bold;
    align-self: center;
  }

  * p {
    display: flex;
    color: $gray;
  }


}