.pagination {
  padding: 30px 0 0 0px;
  margin: 0 5%;
  display: flex;
  justify-content: center;

  &__item {
    padding: 10px;
    text-decoration: none;
    color: $gray-dark;
    font-weight: bold;
  }

  &__item:hover {
    border-radius: 50%;
    color: $main-color;
    background-color: $light-color;
    font-weight: bold;
  }

}