.recommend {
  background-color: $gray-lightest;
  max-width: 100%;
  //height: 800px;
  margin: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "blog"
    "book"
    "photo"
    "opinion"
    "kids"
    "oldbook";


  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 760px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 20px;
    grid-template-areas:
    "blog book book"
    "photo book book"
    "photo opinion kids"
    "oldbook oldbook oldbook";
  }

  @media (min-width: 1200px) {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 20px;
    grid-template-rows: repeat(4, 220px);
    grid-template-areas:
    "blog book book present"
    "photo book book present"
    "photo opinion kids present"
    "oldbook oldbook oldbook present";
  }



  &__title {
    grid-area: title;
    font-size: 50px;
    line-height: 70px;
    margin-left: 6%;
  }

  &__blog {
    grid-area: blog;
    text-align: center;
    background-color: $recommend-color;
    font-weight: 500;
    padding: 10px 15px;

    a {
    color: $link-color;
    text-decoration: none;
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
    }

    &-link {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
    }
  }

  &__book {
    grid-area: book;
    text-align: center;
    background-image: url(../img/background/img_big.png);
    background-size: cover;
    padding: 0 20px;

    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: $recommend-color;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
      color: $recommend-color;
    }
  }

  &__photo {
    grid-area: photo;

    background-image: url(../img/background/photo.png);
    background-size: cover;
    padding: 0 10px;

    &-title {
      font-size: 24px;
      text-align: center;
      line-height: 30px;
      color: $recommend-color;
      margin-top: 40px;
    }
  }

  &__opinion {
    grid-area: opinion;
    text-align: center;
    background-color: $recommend-color;
    padding: 0 20px;

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
      padding: 0;
    }
  }

  &__kids {
    grid-area: kids;
    text-align: center;
    background-color: $main-color;
    padding: 0 20px;

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
    }
  }

  &__oldbook {
    grid-area: oldbook;
    text-align: center;
    background-image: url(../img/background/oldbook.png);
    background-size: cover;

    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: $recommend-color;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
      color: $recommend-color;
    }
  }

  &__present {
    grid-area: present;

    &-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
    }

    &-descr {
      font-size: 16px;
      font-weight: normal;
      line-height: 30px;
    }

    @media(min-width: 320px) and (max-width: 1199px) {
      display: none;
    }
  }
}


