//- Примеси

mixin mini-card(name, url, imgUrl, descr, price)
  article.mini-card
    a.mini-card__inner(href=url)
      img.mini-card__pict(src=imgUrl, alt=name)

mixin banner()
  .banner
    h2.banner__header Мы открыли для вас уютную библиотеку
    p.banner__descr Приходите к нам по адресу Никитская 10, каждый день с 10:00 до 18:00

